.is-hidden {
    display: none;
}

.cat-info {
    margin-top: 30px;
    margin-left: 20px;
    max-width: 500px;
}

.error {
    font-size: 36px;
    color: red;
    margin-left: 20px;
}

.loader {

    font-size: 22;
    font-style: italic;
    margin-left: 20px;
    margin-top: 30px;
}

h2 {
    font-size: 28px;
}

.text {
    font-size: 20px;
}

.breed-select {
    margin-left: 20px;
}